<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="{{ "/static/jquery-1.10.2.min.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/static/bootstrap.min.js" | prepend: site.baseurl  }}"></script>
  <script src="{{ "/static/modernizr-2.6.2.js" | prepend: site.baseurl }}"></script>

  <link rel="stylesheet" href="{{ "/static/style.css" | prepend: site.baseurl }}">

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
</head>
