---
layout: default
---

<script src="{{ "/static/galleria/galleria-1.4.2.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/static/galleria/galleria.classic.min.js" | prepend: site.baseurl}}"></script>
<script>
<!--
window.onload = function () {
    var data = [
      {% for image in page.images %}
        { image: '{{ image.url }}', thumb: '{{ image.thumb_url }}', title: '{{ image.title }}'},
      {% endfor %}
    ];
    $('.galleria').show();

    Galleria.loadTheme('{{ "portfolio/galleria/galleria.classic.min.js" | prepend: site.baseurl }}');
    Galleria.run('.galleria', {
        dataSource: data
    });

    Galleria.ready(function () {
        this.attachKeyboard({
            right: this.next,
            left: this.prev
        });
    this.bind('image', function(e) {
            $(e.imageTarget).click(this.proxy(function() {
               this.openLightbox();
            }));
        });
    });
}
//-->
</script>

<h3>{{ page.title }}</h3>
<div class="row">
  <div class="col-md-8 right-vertical-line">
    <div class="galleria"></div>
      <noscript>
        {% for image in page.images %}
          <img src="{{ image.url }}" alt="{{ image.title }}" class="img-responsive">
        {% endfor %}
      </noscript>
  </div>
  <div class="col-md-4 text-justify">
    {{ content }}
  </div>
</div>
